@page "/stats"

@model StatisticsModel

@using BaGetter.Core.Statistics
@using BaGetter.Web.Helper
@using Microsoft.Extensions.Options

@inject IOptionsSnapshot<StatisticsOptions> Options
@inject IStatisticsService StatisticsService
@inject ApplicationVersion Version
@inject Microsoft.AspNetCore.Mvc.Localization.IHtmlLocalizer<BaGetter.Web.SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["Statistics"];
}

<div class="col-sm-12">
    <h1>@Localizer["Statistics"]</h1>
    <hr class="breadcrumb-divider" />
    <div class="row">
        <article class="col-sm-4">
            <h4>@Localizer["CurrentVersion"]</h4>
        </article>
        <div class="col-sm-8">
            <h4>@Version.InformationalVersion</h4>
        </div>
    </div>
    <div class="row">
        <article class="col-sm-4">
            <h4>@Localizer["TotalAmountOfPackages"]</h4>
        </article>
        <div class="col-sm-8">
            <h4>@await StatisticsService.GetPackagesTotalAmount()</h4>
        </div>
    </div>
    <div class="row">
        <article class="col-sm-4">
            <h4>@Localizer["TotalAmountOfPackageVersions"]</h4>
        </article>
        <div class="col-sm-8">
            <h4>@await StatisticsService.GetVersionsTotalAmount()</h4>
        </div>
    </div>
    @if (Options.Value.ListConfiguredServices)
    {
        <div class="row">
            <article class="col-sm-4">
                <h4>@Localizer["ServicesInUse"]</h4>
            </article>
            <div class="col-sm-8">
                <h4>@string.Join(", ", StatisticsService.GetKnownServices())</h4>
            </div>
        </div>
    }
</div>
